In [1]:
listvar = [3.14, 25, "VITTHAL"]
print(listvar[0])

3.14

In [2]:
print(listvar[1])

25

In [3]:
print(listvar[len(listvar)-1])

VITTHAL

In [4]:
listvar.append("new last element of list")

In [5]:
listvar.insert(0, "new first element of list")

In [6]:
print(listvar)

['new first element of list', 3.14, 25, 'VITTHAL', 'new last element of list']

In [7]:
print(listvar[1:4])

[3.14, 25, 'VITTHAL']

In [8]:
print(listvar[1:])

[3.14, 25, 'VITTHAL', 'new last element of list']

In [9]:
print(listvar[:4])

['new first element of list', 3.14, 25, 'VITTHAL']

In [11]:
listvar.remove(25)
print(listvar)

['new first element of list', 3.14, 'VITTHAL', 'new last element of list']

In [12]:
del listvar[1]
print(listvar)

['new first element of list', 'VITTHAL', 'new last element of list']

In [13]:
listvar.pop(1)
print(listvar)

['new first element of list', 'new last element of list']

In [14]:
listvar.pop()
print(listvar)

['new first element of list']

In [16]:
listvar.pop()
print(listvar)

[]

In [18]:
somestring = "somestring"
print(somestring[4:])
print(somestring[:4])

string
some

In [23]:
kingName = input("Please enter your kingly name: ")
print("All hail king " + kingName + "!")

Please enter your kingly name: Louis
All hail king Louis!

In [39]:
numJewels = int(input("Hey " + kingName + ", how many jewels are there? "))

Hey Louis, how many jewels are there? 5

In [40]:
costOfEachJewel = int(input("Yo " + kingName + ", how much does each jewel cost? "))

Yo Louis, how much does each jewel cost? 100

In [41]:
totalPrizeSize = costOfEachJewel * numJewels
print(totalPrizeSize)

500

In [42]:
dudeNames = ["Athos", "Pothos", "Aramis"]
dudeAges = [55, 34, 67]
dudeNames.insert(0, "D'Artagnan")
dudeAges.append(16)
print(dudeNames)
print(dudeAges)

["D'Artagnan", 'Athos', 'Pothos', 'Aramis']
[55, 34, 67, 16]

In [43]:
dudeNames.append(dudeNames.pop(0))
print(dudeNames)
print(dudeAges)

['Athos', 'Pothos', 'Aramis', "D'Artagnan"]
[55, 34, 67, 16]

In [44]:
print("Total number of dudes: " + str(len(dudeNames)))

Total number of dudes: 4

In [45]:
dudeToKill = int(input("Yo " + kingName + ", please enter the # of the dude to kill? "))

Yo Louis, please enter the # of the dude to kill? 2

In [46]:
print("Zapping all history of " + dudeNames.pop(dudeToKill-1) + ", age " + str(dudeAges.pop(dudeToKill-1)))
print(dudeNames)
print(dudeAges)

Zapping all history of Pothos, age 34
['Athos', 'Aramis', "D'Artagnan"]
[55, 67, 16]